@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
 
@import "./assets/helpers/variables";
@import"./assets/helpers/mixin";

@import "./assets/components/base";
@import "./assets/components/classes";

@import "./assets/components/header";
@import "./assets/components/hero";
@import "./assets/components/promoting";
@import "./assets/components/more";
@import "./assets/components/meal";
@import "./assets/components/party";
@import "./assets/components/footer";
@import "./assets/components/media";

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    overflow-x: hidden;
}